<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://javax.ee/xml/ns/javaxee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://javax.ee/xml/ns/javaxee https://javax.ee/xml/ns/javaxee/web-app_6_0.xsd">
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/generaladmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/ordermanagement</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/customersadmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/productadmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/cart</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/userinfomation</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/order</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherCartServlet</servlet-name>
        <servlet-class>controller.cart.VoucherCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherAdminServlet</servlet-name>
        <servlet-class>controller.admin.voucher.VoucherAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.order.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfomationServlet</servlet-name>
        <servlet-class>controller.user.UserInfomationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherCartServlet</servlet-name>
        <url-pattern>/VoucherCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherAdminServlet</servlet-name>
        <url-pattern>/voucheradmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfomationServlet</servlet-name>
        <url-pattern>/userinfomation</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
